=buildGrid($divider)
	@for $variable from 1 through ($divider)
		.small-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: percentage($variable/$divider)

			@include breakpoint($mqMedium)
				width: percentage($variable/$divider)

		.offset-small-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: percentage($variable/$divider)

			@include breakpoint($mqMedium)
				margin-left: percentage($variable/$divider)

		.medium-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: 100%

			@include breakpoint($mqMedium)
				width: percentage($variable/$divider)

		.offset-medium-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: 0

			@include breakpoint($mqMedium)
				margin-left: percentage($variable/$divider)

		.large-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: 100%

			@include breakpoint($mqMedium)
				width: 100%

		.offset-large-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: 0

			@include breakpoint($mqMedium)
				margin-left: 0


.row
	&:after
		content: " "
		visibility: hidden
		display: block
		height: 0
		clear: both

[class|="small"]
	box-sizing: border-box
	padding:
		left: $gridGutterSmall/2
		right: $gridGutterSmall/2

	float: left

[class|="medium"]
	box-sizing: border-box
	padding:
		left: $gridGutterMedium/2
		right: $gridGutterMedium/2

	float: left

[class|="large"],
	box-sizing: border-box
	padding:
		left: $gridGutterLarge/2
		right: $gridGutterLarge/2

	float: left

.wrapper
	max-width: $wrapperMaxWidth
	margin: 0 auto
	padding: 0 $gridGutterLarge

	&.b2b
		padding: 0
