=buildGrid($divider)
	@for $variable from 1 through ($divider)
		.small-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: percentage($variable/$divider)

			@include breakpoint($mqMedium)
				width: percentage($variable/$divider)

		.offset-small-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: percentage($variable/$divider)

			@include breakpoint($mqMedium)
				margin-left: percentage($variable/$divider)

		.medium-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: 100%

			@include breakpoint($mqMedium)
				width: percentage($variable/$divider)

		.offset-medium-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: 0

			@include breakpoint($mqMedium)
				margin-left: percentage($variable/$divider)

		.large-#{$variable}of#{$divider}
			width: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				width: 100%

			@include breakpoint($mqMedium)
				width: 100%

		.offset-large-#{$variable}of#{$divider}
			margin-left: percentage($variable/$divider)

			@include breakpoint($mqSmall)
				margin-left: 0

			@include breakpoint($mqMedium)
				margin-left: 0