// ********************
// Grid gutter
// ********************
$gridGutterLarge: 30px
$gridGutterMedium: 30px
$gridGutterSmall: 30px

// ********************
// Media Queries 
// ********************
$smallMax: 400px
$mediumMin: 401px 
$mediumMax: 800px

