doctype html(lang='en')
html  
  head
    meta(charset='utf-8')   
    meta(name='description', content='A framework for easily creating beautiful presentations using HTML')
    meta(name='author', content='Piotr Sikora - fedojo.com')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/style.css')
    title Multigrid system 


  body.debug
    include partials/header.jade

    include partials/_of2.jade
    include partials/_of3.jade
    include partials/_of4.jade
    include partials/_of5.jade
    include partials/_of6.jade
    include partials/_of7.jade
    include partials/_of8.jade
    include partials/_of9.jade
    include partials/_of10.jade
    include partials/_of11.jade
    include partials/_of12.jade
    include partials/_of16.jade

    include partials/footer.jade