.row
  h2 1of4

.row
  .large-1of4 .large-1of4
  .large-1of4 .large-1of4
  .large-1of4 .large-1of4
  .large-1of4 .large-1of4
  .large-3of4 .large-3of4
  .large-1of4 .large-1of4
  .large-1of4 .large-1of4
  .large-3of4 .large-3of4

