header
	h1 MultiGrid.css
	h2 by 
		a(href="http://fedojo.com", target="blank") FEDojo.com

	p Easy grid based on 
		a(href="http://breakpoint-sass.com/", target="blank") Breakpoint
	a.btn(href="https://github.com/fedojo/MultiGrid.css", target="blank") Project on Github